@import "vars";

.comments {
    padding: 100px 0 70px;
    background: $section-gradient;
    display: flex;
    justify-content: space-between;

    .comments-list {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 70px;


        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 80px 45px 43px;
            max-width: 344px;
            background: $white;
            border-radius: 9px;
            box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
            position: relative;


            .comment-img{
                position: absolute;
                top: -53px;

            }

            .content {
             text-align: center;
            }


            .line {
                width: 130px;
                height: 2px;
                margin: 36px 0 9px;
                background: $main-gradient;
            }
        }
    }
}

@media (max-width: 1020px) {

    .comments {
       
        .comments-list {
            flex-direction: column;
            align-items: center;
            gap: 110px;
    
    
            &__item {
                max-width: 534px;
                width: 100%;
    
                .content {
                 text-align: center;
                }
        
                .line {
                    margin: 25px 0 9px;
                }
            }
        }
    }
}