@import "vars";


.header-top {
    padding: 30px 0;
    background: $main-gradient;
}

.header-list {
    display: flex;
    justify-content: space-between;


    &__item {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .phone-list {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

}