@import "reset";
@import "preloader";
@import "vars";
@import "header";
@import "buttons";
@import "mainScreen";
@import "about";
@import "products";
@import "comments";
@import "footer";
@import "modal";
@import "alert";
@import "loader";


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');


body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: "Roboto", sans-serif;
    background: $white;

    position: relative;
}


.body_fix {
    overflow: hidden;
    padding-right: 17px;
}

.wrap {
    width: 100%;
    max-width: 1400px;
    padding: 0 60px;
    margin: 0 auto
}


.section {
    padding: 100px 0;
}

.heading {
    font-weight: 700;
}

.second-heading {
    padding-bottom: 120px;
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
}

.title {
    padding: 22px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
}


.content {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.content_light {
    color: $gray;
}

.content_big {
    font-weight: 700;
    margin-bottom: 20px;
}

.gradient-text {
    background-color: $pink;
    background-image: $main-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.link {
    color: inherit;
}

.link:hover {
    text-decoration: underline;
}


@media (max-width: 1180px) {

    .title {
        padding: 18px;
        font-size: 28px;
        line-height: 32px;
    }

}

@media (max-width: 1020px) {

    .second-heading {
        padding-bottom: 60px;
        font-size: 40px;
        line-height: 47px;
    }

    .wrap {
        padding: 0 40px;
    }

}


@media (max-width: 770px) {
    .wrap {
        padding: 0 20px;
    }

    .section {
        padding: 60px 0;
    }

    .second-heading {
        padding-bottom: 40px;
        font-size: 20px;
        line-height: 23px;
    }

    .title {
        padding: 18px;
        font-size: 20px;
        line-height: 23px;
    }
}