@import "vars";
@import "buttons";

.main-screen {
    position: relative;

    &__offer {
        padding: 130px 0;

        .first-heading {
            max-width: 600px;
            font-size: 50px;
            line-height: 59px;
        }

        .brief {
            font-size: 24px;
            line-height: 28px;
            padding: 10px 0 20px;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        right: 33px;
        z-index: -100;

        &_lower {
            top: -8px;
            right: 0;
        }
    }

    &__svg {
        top: 87px;
        left: -20px;
    }
}

@media (max-width: 1180px) {

    .main-screen {
        &__offer{
            .first-heading {
                max-width: 500px;
            }
        }
    }
  
}


// @media (max-width: 1180px) {

//     .main-screen {
//         &__offer{
//             .first-heading {
//                 max-width: 500px;
//             }
//         }
//     }
  
// }