@import "vars";
@import "buttons";

.main-screen {
    position: relative;

    &__offer {
        padding: 130px 0;

        .first-heading {
            max-width: 600px;
            font-size: 50px;
            line-height: 59px;
        }

        .brief {
            font-size: 24px;
            line-height: 28px;
            padding: 10px 0 20px;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        right: 33px;
        z-index: -100;

        &_lower {
            top: -8px;
            right: 0;
        }
    }

    &__svg {
        top: 87px;
        left: -20px;
    }
}

@media (max-width: 1180px) {

    .main-screen {

        &__img {
            transform: translateX(60px);
        }


    }

}

@media (max-width: 1020px) {

    .main-screen {
        &__offer {
            .first-heading {
                max-width: 300px;
                font-size: 40px;
                line-height: 40px;
            }
        }

        &__img {
            transform: scale(0.9) translateX(-60px);
        }
    }

}


@media (max-width: 880px) {

    .main-screen {
        &__img {
            transform: scale(0.9) translateX(60px);
        }
    }
}


@media (max-width: 770px) {

    .main-screen {


        &__offer {
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            .first-heading {
                max-width: 200px;
                font-size: 25px;
                line-height: 25px;
                text-align: center;
            }
        }

        .main-img,
        .main-screen__svg {
            display: none;
        }

        &__img_lower {
            transform: scale(0.7);
        }
    }

}