@import "vars";


.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    // display: none;
    justify-content: center;
    align-items: center;
    background: $light-white;
    backdrop-filter: blur(20px);

    &__content {
        display: flex;
        justify-content: center;
        background: $white;
        border-radius: 15px;
        width: 1180px;
        overflow: hidden;
        padding: 40px 0;
        box-shadow: 0px 0px 35px rgba(212, 20, 90, 0.25);

        background-image: url("data:image/svg+xml,%3Csvg class='svg' width='1251' height='463' viewBox='0 0 1251 463' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.0946098' d='M129.646 467.268L195.134 339.606C199.192 331.697 198.722 322.189 193.896 314.718L115.921 194.107C111.067 186.622 102.601 182.28 93.7182 182.718L-49.7317 189.741C-58.6289 190.207 -66.6113 195.344 -70.6685 203.253L-136.157 330.915C-140.214 338.824 -139.745 348.332 -134.919 355.803L-56.9434 476.414C-52.1174 483.885 -43.6514 488.228 -34.7409 487.804L108.709 480.78C117.592 480.342 125.589 475.177 129.646 467.268Z' fill='url(%23paint0_linear_1_306)' /%3E%3Cpath opacity='0.0946098' d='M1063 -4.14579L1032.78 136.116C1030.91 144.806 1033.83 153.868 1040.42 159.835L1146.96 256.155C1153.58 262.129 1162.88 264.132 1171.35 261.41L1308.09 217.498C1316.57 214.746 1322.95 207.717 1324.82 199.028L1355.03 58.7659C1356.91 50.0763 1353.99 41.0141 1347.4 35.0469L1240.86 -61.273C1234.27 -67.2402 1224.97 -69.244 1216.47 -66.5281L1079.72 -22.6162C1071.26 -19.8938 1064.87 -12.8354 1063 -4.14579Z' fill='url(%23paint1_linear_1_306)' /%3E%3Cpath opacity='0.0946098' d='M316.138 479.224L347.896 417.316C349.869 413.47 349.64 408.874 347.287 405.256L309.476 346.76C307.123 343.141 303.027 341.04 298.716 341.24L229.146 344.652C224.835 344.852 220.954 347.374 218.996 351.192L187.238 413.1C185.265 416.946 185.495 421.542 187.847 425.16L225.658 483.656C228.011 487.275 232.107 489.376 236.418 489.176L305.988 485.764C310.272 485.55 314.18 483.042 316.138 479.224Z' fill='url(%23paint2_linear_1_306)' /%3E%3Cpath opacity='0.0946098' d='M879.766 32.5733L865.113 100.592C864.203 104.817 865.614 109.197 868.823 112.083L920.486 158.8C923.695 161.686 928.196 162.655 932.308 161.347L998.624 140.045C1002.74 138.736 1005.83 135.296 1006.74 131.101L1021.39 63.0822C1022.3 58.8573 1020.89 54.4772 1017.68 51.5912L966.016 4.87419C962.807 1.98813 958.307 1.01857 954.194 2.32747L887.878 23.6289C883.796 24.9443 880.67 28.3784 879.766 32.5733Z' fill='url(%23paint3_linear_1_306)' /%3E%3Cpath opacity='0.0946098' d='M264.022 311.971L279.075 282.626C280.013 280.798 279.883 278.63 278.802 276.905L260.876 249.175C259.754 247.463 257.815 246.468 255.769 246.556L222.79 248.171C220.745 248.259 218.921 249.459 217.984 251.287L202.93 280.632C201.993 282.459 202.123 284.627 203.204 286.353L221.129 314.082C222.252 315.795 224.191 316.789 226.236 316.702L259.216 315.086C261.248 314.957 263.084 313.798 264.022 311.971Z' fill='url(%23paint4_linear_1_306)' /%3E%3Cpath opacity='0.0946098' d='M973.396 180.639L966.45 212.88C966.018 214.888 966.704 216.948 968.195 218.335L992.687 240.48C994.214 241.844 996.344 242.303 998.297 241.689L1029.73 231.592C1031.69 230.979 1033.14 229.347 1033.57 227.339L1040.52 195.098C1040.95 193.091 1040.26 191.03 1038.77 189.643L1014.28 167.498C1012.75 166.134 1010.62 165.675 1008.67 166.289L977.232 176.386C975.302 177.036 973.828 178.631 973.396 180.639Z' fill='url(%23paint5_linear_1_306)' /%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_306' x1='106.334' y1='185.447' x2='-47.3746' y2='485.083' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D4145A' /%3E%3Cstop offset='1' stop-color='%232E3192' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1_306' x1='1158.46' y1='262.039' x2='1229.38' y2='-67.17' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D4145A' /%3E%3Cstop offset='1' stop-color='%232E3192' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_1_306' x1='304.83' y1='342.506' x2='230.272' y2='487.847' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D4145A' /%3E%3Cstop offset='1' stop-color='%232E3192' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_1_306' x1='926.075' y1='161.706' x2='960.475' y2='2.02005' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D4145A' /%3E%3Cstop offset='1' stop-color='%232E3192' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_1_306' x1='258.662' y1='247.178' x2='223.324' y2='316.064' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D4145A' /%3E%3Cstop offset='1' stop-color='%232E3192' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_1_306' x1='995.342' y1='241.836' x2='1011.65' y2='166.151' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D4145A' /%3E%3Cstop offset='1' stop-color='%232E3192' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input[placeholder] {
                text-overflow: ellipsis;
            }



            &-heading {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                padding: 40px 0;
            }

            .row {
                display: flex;
                justify-content: space-between;
                width: 750px;
                margin-bottom: 20px;

            }

            .input-content {
                padding: 12px 20px;
                background: $white;
                border: 1px solid $light-gray;
                border-radius: 9px;
                width: 360px;

                &_long {
                    width: 100%;
                    padding: 12px 20px 60px;
                }
            }

        }
    }

}


.colors {
    text-align: center;
    margin: 20px auto;

    &-list {
        display: flex;
        gap: 6px;

        .round {
            width: 20px;
            height: 20px;
            border-radius: 6px;

            &_black {
                background: $black;
            }

            &_white {
                background: $white;
                border: 1px solid $light-gray;
            }

            &_red {
                background: red;
            }

            &_yellow {
                background: yellow;
            }

            &_blue {
                background: blue;
            }

            &_green {
                background: green;
            }

            &_orange {
                background: orangered;
            }

            &_violet {
                background: #423189;
            }

            &_gray {
                background: gray;
            }

            &_brown {
                background: #654321;
            }
        }
    }
}

.select {
    padding: 20px;
    display: flex;
    justify-content: space-between;

}


@media (max-width: 1280px) {
    .modal {
        &__content {
            max-width: 940px;
        }
    }

}

@media (max-width: 1020px) {

    .modal {

        &__content {
            max-width: 700px;
            padding: 40px 0;

            .form {

                .row {
                    display: flex;
                    width: 600px;
                }

                .input-content {
                    width: 290px;

                    &_long {
                        width: 100%;
                    }
                }
            }
        }
    }
}



@media (max-width: 770px) {

    .modal {

        &__content {
            max-width: 460px;
            padding: 40px 0;

            .form {

                .row {
                    display: flex;
                    flex-wrap: wrap;
                    width: 360px;
                    gap: 20px;

                }

                .input-content {
                    width: 100%;

                    &_long {
                        width: 100%;
                    }
                }

            }
        }

    }

}

@media (max-width: 560px) {

    .modal {

        &__content {
            max-width: 320px;
            padding: 0 0 40px;

            .form {

                .row {
                    width: 260px;
                    gap: 20px;
                }

                .input-content {
                    width: 100%;

                    &_long {
                        width: 100%;
                    }


                }

            }
        }

    }

}