@import "vars";
@import "buttons";


.products {
    position: relative;

    &__svg {
        position: absolute;
        top: 280px;
        right: -80px;
        z-index: -100;
    }

    .products-list {
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;



        &__item {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            padding: 40px;
            max-width: 344px;
            min-width: 240px;
            background: $white;
            border-radius: 9px;
            box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);

        }

        .title_pink {
            color: $pink;
        }

    }

    .button {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 1020px) {

    .products {
        .products-list {
            
            flex-direction: column;
            align-items: center;

            &__item {
                max-width: 594px;
                width: 100%;
            }

            &__img {
                transform: rotateZ(90deg);
                margin: -60px auto;
            }


        }
    }
}