// gradients

$main-gradient: linear-gradient(90deg, #B8005F 9.24%, #00FFFF 210.4%);
$header-gradient: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
$section-gradient: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);

// colors
$black: #000000;
$white: #FFFFFF;
$light-white: rgba(255, 255, 255, 0.5);
$gray: #767676;
$light-gray: #A2A2A2;
$pink: #B8005F;
$danger: rgba(255, 0, 0, 0.4);
